{% extends 'base_generic.html' %}

{% block content %}
    <div class="signup-form">
    {% if user.is_authenticated %}
        Se encuentra logueado
    {% else %}
    <form method="post">
        {% csrf_token %}
		<h2>Create Account</h2>
            {% load app_filters %}
            {% for field in form %}
                <div class="form-group">
                    <div class="input-group">
                        {% if field.html_name == 'username' %}
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ field|addplaceholder:"Username" }}
                        {% elif field.html_name == 'email'%}
                            <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                            {{ field|addplaceholder:"Email Adress" }}
                        {% elif field.html_name == 'password1' %}
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            {{ field|addplaceholder:"Password" }}
                        {% else %}
                            <span class="input-group-addon">
					            <i class="fa fa-lock"></i>
					            <i class="fa fa-check"></i>
				            </span>
                            {{ field|addplaceholder:"Confirm Password" }}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
		    <div class="form-group">
                <button type="submit">Sign up</button>
            </div>
		    <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
    </form>
	<div class="text-center">Already have an account? <a href="{% url 'login' %}">Login here</a>.</div>
    {% endif %}
    </div>
{% endblock %}