{% extends 'base_generic.html' %}
<header class="header-area">
    {% block navbar %}
        {% include 'base_nav.html' %}
    {% endblock %}
</header>
{% block pagina_titulo %}
    <p>See what’s new</p>
    <h2>Todos los productos</h2>
{% endblock %}
{% block content %}
    <div class="container">
        <br>

    {% if perms.catalog.can_mark_returned %}
        <div class="single-artists d-flex justify-content-center align-items-center wow fadeInUp mt-0 mb-15 m-auto" data-wow-delay="100ms">
            <a href="{% url 'product_create' %}" class="btn oneMusic-btn mt-30">Ingresar Nuevo Producto</a>
            <a href="{% url 'categories' %}" class="btn oneMusic-btn mt-30">Ver todas las Categorías </a>
            <a href="{% url 'category_create' %}" class="btn oneMusic-btn mt-30">Crear Categoría </a>
        </div>
    {% endif %}

  <table class="table text-center">
      <thead class="thead-dark">
          <tr>
              <th>Titulo</th>
              <th>Tipo</th>
              <th>Categoría</th>
              <th>Código</th>
              <th>Ver</th>
              {% if perms.catalog.can_mark_returned %}
                <th>Eliminar</th>
              {% endif %}

          </tr>
      </thead>
      <tbody>
      {% if product_list %}
          {% for product in product_list %}
              <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.get_type_display }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.id }}</td>
                <td><a href="{{ product.get_absolute_url }}">Click</a></td>
                 {% if perms.catalog.can_mark_returned %}
                    <td><a href="{{ product.get_absolute_url }}/delete">X</a></td>
                 {% endif %}

              </tr>
          {% endfor %}
      {% endif %}
      </tbody>
  </table>
    <div class="single-artists d-flex justify-content-center align-items-center wow fadeInUp mt-0 mb-15 m-auto" data-wow-delay="100ms">
        <a href="{% url 'index' %}" class="btn oneMusic-btn mt-30">Regresar </a>
    </div>
</div>
{% endblock %}