{% extends 'base_generic.html' %}
<header class="header-area">
    {% block navbar %}
        {% include 'base_nav.html' %}
    {% endblock %}
</header>
{% block pagina_titulo %}
    <p>See what’s new</p>
    <h2>Producto: {{ product.title }}</h2>
{% endblock %}
{% block content %}
    <br>
    <br>
    <div class="container">
    <table class="table text-center">
      <thead class="thead-dark">
          <tr>
              <th>Titulo</th>
              <th>Tipo</th>
              <th>Categoría</th>
              <th>Autor</th>
              <th>Código</th>
              <th>Propietario/s</th>
              <th>Precio</th>
              <th>Ver</th>
              {% if perms.catalog.can_mark_returned %}
                    <th>Editar</th>
                    <th>Eliminar</th>
              {% endif %}

          </tr>
      </thead>
      <tbody>
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.get_type_display }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.author }}</td>
                <td>{{ product.id }}</td>
                <td>{% for owner in product.owner.all %} {{ owner }}{% if not forloop.last %}, {% endif %} {% endfor %}</td>
                <td>{{ product.price }}</td>
                <td><a href="/media/{{ product.content }}">Ver</a></td>
                {% if perms.catalog.can_mark_returned %}
                    <td><a href="{{ product.get_absolute_url }}/update">Editar</a></td>
                    <td><a href="{{ product.get_absolute_url }}/delete">X</a></td>
                {% endif %}
              </tr>
      </tbody>
    </table>
    <div class="single-artists d-flex justify-content-center align-items-center wow fadeInUp mt-0 mb-15 m-auto" data-wow-delay="100ms">
        <a href="{% url 'products' %}" class="btn oneMusic-btn mt-30">Regresar </a>
    </div>
    </div>
{% endblock %}