{% extends 'base_generic.html'%}
<header class="header-area">
    {% block navbar %}
        {% include 'base_nav.html' %}
    {% endblock %}
</header>
{% block pagina_titulo %}
    <p>No tienes permisos necesarios para ver esta página</p>
    <h2>Error 403</h2>
{% endblock %}
{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="single-artists d-flex justify-content-center align-items-center wow fadeInUp mt-0 mb-15 m-auto" data-wow-delay="100ms">
            <a href="{% url 'index' %}" class="btn oneMusic-btn mt-30">Ir a home</a>
        </div>
    </div>
{% endblock %}